<h2><%=raw  @project.name %></h2>

<div class="module" id="declaration">
<legend >申报书</legend>
<p><%=raw @project.declaration %></p>
</div>

<div class="module" id="assignment_book">
<legend >任务书</legend>
<p><%=raw @project.assignment_book %></p>
</div>

<div class="module" id="phase_check">
<legend >阶段检查</legend>
<p><%=raw @project.phase_check %></p>
</div>

<div class="module" id="experience">
<legend >经验交流</legend>
<p><%=raw @project.experience %></p>
</div>

<div class="module" id="achievement">
<legend >成果展示</legend>
<p><%=raw @project.achievement %></p>
</div>