<h2><%=raw  @project.name %></h2>
<legend id="declaration">申报书</legend>
<p><%=raw @project.declaration %></p>
<legend id="assignment_book">任务书</legend>
<p><%=raw @project.assignment_book %></p>
<legend id="phase_check">阶段检查</legend>
<p><%=raw @project.phase_check %></p>
<legend id="experience">经验交流</legend>
<p><%=raw @project.experience %></p>
<legend id="achievement">附件</legend>
<p><%=raw @project.achievement %></p>